<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.business.mapper.InterfaceconfigDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zh.business.entity.Interfaceconfig">
        <id column="tradeserviceid" property="tradeserviceid" />
        <result column="tradeservicetype" property="tradeservicetype" />
        <result column="tradeservicename" property="tradeservicename" />
        <result column="trademethod" property="trademethod" />
        <result column="opertion" property="opertion" />
        <result column="serviceconsumerid" property="serviceconsumerid" />
        <result column="serviceconsumername" property="serviceconsumername" />
        <result column="datasourceid" property="datasourceid" />
        <result column="sqltext" property="sqltext" />
        <result column="recode" property="recode" />
        <result column="redesc" property="redesc" />
        <result column="callbackid" property="callbackid" />
        <result column="createid" property="createid" />
        <result column="createtime" property="createtime" />
        <result column="modifytime" property="modifytime" />
    </resultMap>

</mapper>
